@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s;
}

body {
  direction: rtl;
}

@font-face {
  font-family: "Iranian-Sans";
  src: url("/fonts/IranianSans.ttf");
}
